swagger: "2.0"
info:
  title: RingCentral Connect Platform API Explorer
  description: "This is an interactive API explorer for the RingCentral Connect Platform.
    To use this service, you will need to have a developer account. \n\n## Links \n*
    <a href=\"https://netstorage.ringcentral.com/dpw/api-explorer/rc-platform_advanced.yml?v=20180709143419\"
    target=\"_blank\">RingCentral API Spec</a><span>&nbsp;&nbsp;(OpenAPI fka Swagger
    format)&nbsp;&nbsp;&nbsp;&nbsp;</span><a href=\"https://github.com/OAI/OpenAPI-Specification\"
    target=\"_blank\">Learn more about OpenAPI</a>\n"
  version: 1.0.35
host: platform.ringcentral.com
schemes:
- https
basePath: /
produces:
- application/json
tags:
- name: API Info
- name: Call Log
- name: Phone Numbers
- name: Fax
- name: SMS and MMS
- name: Internal Messages
- name: RingOut
- name: User Contacts
- name: Company Contacts
- name: Presence
- name: Greeting Recording Call
- name: Glip [Beta]
- name: Meetings [Beta]
- name: Push Notifications
- name: Roles and Permissions
- name: Call Handling Settings
- name: Application Settings
- name: User Settings
- name: Company Settings
- name: Regional Settings
- name: Account Provisioning
- name: SCIM
- name: Reporting
- name: Voicemail
- name: Verification Call
- name: ADG
- name: VoIPCalling
x-auth-required: true
x-blacklisting-strategy: "Off"
x-internal-api: false
x-metered-api: true
x-metering-group: System
x-servers:
- url: //platform.ringcentral.com
  description: Default server
- url: //platform.devtest.ringcentral.com
  description: Sandbox server
x-service-interface: rest
x-service-name: pas
x-service-version: v1
x-tagGroups:
- name: General
  tags:
  - API Info
- name: Data
  tags:
  - Call Log
- name: Contacts
  tags:
  - User Contacts
  - Company Contacts
  - Phone Numbers
- name: Messages
  tags:
  - SMS and MMS
  - Fax
  - Internal Messages
  - Voicemail
- name: Voice
  tags:
  - RingOut
  - Presence
  - Greeting Recording Call
  - Verification Call
- name: null
  tags:
  - Glip [Beta]
- name: null
  tags:
  - Meetings [Beta]
- name: null
  tags:
  - Push Notifications
- name: null
  tags:
  - Roles and Permissions
- name: Configuration
  tags:
  - Call Handling Settings
  - Application Settings
  - User Settings
  - Company Settings
  - Regional Settings
  - Account Provisioning
- name: null
  tags:
  - SCIM
- name: null
  tags:
  - Reporting
- name: Telephony API
  tags:
  - VoIPCalling
- name: Internal
  tags:
  - ADG
  - Integrations
paths:
  /restapi/:
    get:
      tags:
      - API Info
      summary: Get API Versions
      description: |-
        <p>Returns current API version(s) and server info.</p>
        <h4>Usage Plan Group</h4>
        <p>NoThrottling</p>
      operationId: getAllVersions
      consumes:
      - application/json
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: API Server Info
          schema:
            $ref: '#/definitions/GetVersionsResponse'
          examples:
            application/json:
              $ref: examples/rc-platform-api-info-examples.json#/getAllVersionsResponse
      x-api-group: restapi
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/{apiVersion}:
    get:
      tags:
      - API Info
      summary: Get Version Info
      description: |-
        <p>Returns current API version info by apiVersion.</p>
        <h4>Usage Plan Group</h4>
        <p>NoThrottling</p>
      operationId: getApiVersion
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: apiVersion
        in: path
        description: API version to be requested, for example 'v1.0'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetVersionResponse'
          examples:
            application/json:
              $ref: examples/rc-platform-api-info-examples.json#/getApiVersionResponse
      x-api-group: restapi/version
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/v1.0/status:
    get:
      tags:
      - API Info
      summary: Get Service Status
      description: |-
        <p>Returns current PAS service status.</p>
        <h4>Usage Plan Group</h4>
        <p>NoThrottling</p>
      operationId: loadAPIStatus
      responses:
        200:
          description: Operational
        503:
          description: VoIP-only Mode
      x-api-group: restapi/status
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log:
    get:
      tags:
      - Call Log
      summary: Get User Call Log Records
      description: "<p>Returns call log records filtered by parameters specified.</p>\n<h4>App
        Permission</h4>\n<p>ReadCallLog</p>\n<h4>User Permission</h4>\n<p>ReadCallLog</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CLG-110</td>\n<td>Parameter
        [sessionId] is not allowed for usage along with parameter [extensionNumber]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [transport] value is invalid</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-129</td>\n<td>Access
        token corrupted</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-213</td>\n<td>Token
        not found</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In order
        to call this API endpoint, application needs to have [ReadCallLog] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [ReadCallLog] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n<tr>\n<td>429</td>\n<td>CMN-301</td>\n<td>Request
        rate exceeded</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: loadExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionNumber
        in: query
        description: Extension number of a user. If specified, returns call log for
          a particular extension only
        required: false
        type: string
      - name: showBlocked
        in: query
        description: If 'True' then calls from/to blocked numbers are returned
        default: true
        required: false
        type: boolean
      - name: phoneNumber
        in: query
        description: Phone number of a caller/callee. If specified, returns all calls
          (both incoming and outcoming) with the phone number specified
        required: false
        type: string
      - name: direction
        in: query
        description: The direction for the resulting records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: sessionId
        in: query
        required: false
        type: string
      - name: type
        in: query
        description: Call type of a record. It is allowed to specify more than one
          type. If not specified, all call types are returned. Multiple values are
          accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: transport
        in: query
        description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        required: false
        type: array
        enum:
        - PSTN
        - VoIP
        collectionFormat: multi
        items:
          type: string
      - name: view
        in: query
        description: The default value is 'Simple' for both account and extension
          call log
        required: false
        type: array
        enum:
        - Simple
        - Detailed
        collectionFormat: multi
        items:
          type: string
      - name: withRecording
        in: query
        description: True should be specified to return recorded calls only
        required: false
        type: boolean
      - name: dateTo
        in: query
        description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        required: false
        type: string
        format: date-time
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ExtensionCallLogResponse'
          examples:
            application/json:
              $ref: examples/rc-platform-call-log-examples.json#/loadExtensionCallLogResponse
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
    delete:
      tags:
      - Call Log
      summary: Delete User Call Log Records
      description: "<p>Deletes filtered call log records.</p>\n<h4>App Permission</h4>\n<p>EditCallLog</p>\n<h4>User
        Permission</h4>\n<p>EditCallLog</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [EditCallLog] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [EditCallLog] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: deleteExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: dateTo
        in: query
        description: The end datetime for records deletion in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
      - name: phoneNumber
        in: query
        required: false
        type: string
      - name: extensionNumber
        in: query
        required: false
        type: string
      - name: type
        in: query
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Voice
          - Fax
      - name: direction
        in: query
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: dateFrom
        in: query
        format: date-time
        required: false
        type: string
      responses:
        default:
          description: Success
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditCallLog
      x-user-permission: EditCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log-sync:
    get:
      tags:
      - Call Log
      summary: Sync User Call Log
      description: "<p>Synchronizes call log records</p>\n<h4>App Permission</h4>\n<p>ReadCallLog</p>\n<h4>User
        Permission</h4>\n<p>ReadCallLog</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CLG-101</td>\n<td>Parameter
        [syncToken] is invalid [Sync token expired, call log was reset]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>CLG-102</td>\n<td>Parameter
        [syncToken] is invalid [Sync token expired, call log was reset]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>CLG-104</td>\n<td>Parameter
        [syncToken] is invalid [Sync token expired, call log was reset]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [dateFrom] value is invalid</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadCallLog] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [ReadCallLog] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: syncExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: syncType
        in: query
        description: Type of synchronization
        default: FSync
        required: false
        type: array
        enum:
        - FSync
        - ISync
        collectionFormat: multi
        items:
          type: string
      - name: syncToken
        in: query
        description: Value of syncToken property of last sync request response
        required: false
        type: string
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is the
          current moment
        required: false
        type: string
      - name: recordCount
        in: query
        description: For 'FSync' the parameter is mandatory, it limits the number
          of records to be returned in response. For 'ISync' it specifies with how
          many records to extend sync Frame to the past, the maximum number of records
          is 250
        required: false
        type: integer
      - name: statusGroup
        in: query
        description: Type of calls to be returned. The default value is 'All'
        required: false
        type: array
        enum:
        - Missed
        - All
        collectionFormat: multi
        items:
          type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/CallLogSync'
          examples:
            application/json:
              $ref: examples/rc-platform-call-log-examples.json#/syncExtensionCallLogResponse
      x-api-group: extension/call-log-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}:
    get:
      tags:
      - Call Log
      summary: Get User Call Record(s) by ID
      description: "<p>Returns call log records by ID.</p>\n<h4>App Permission</h4>\n<p>ReadCallLog</p>\n<h4>User
        Permission</h4>\n<p>ReadCallLog</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadCallLog] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [ReadCallLog] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: getCallRecords
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: callRecordId
        in: path
        required: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: view
        in: query
        required: false
        type: string
        enum:
        - Simple
        - Detailed
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        type: string
      responses:
        200:
          description: Call Log Record
          schema:
            $ref: '#/definitions/UserCallLogRecord'
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/active-calls:
    get:
      tags:
      - Call Log
      summary: Get User Active Calls
      description: "<p>Returns records of all extension calls that are in progress,
        ordered by start time in descending order.</p>\n<h4>App Permission</h4>\n<p>ReadCallLog</p>\n<h4>User
        Permission</h4>\n<p>ReadCallLog</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [direction] value is invalid</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadCallLog] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [ReadCallLog] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: listExtensionActiveCalls
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ExtensionActiveCallsResponse'
      x-api-group: extension/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/call-log:
    get:
      tags:
      - Call Log
      summary: Get Company Call Log Records
      description: "<p>Returns call log records filtered by parameters specified.</p>\n<h4>App
        Permission</h4>\n<p>ReadCallLog</p>\n<h4>User Permission</h4>\n<p>FullCompanyCallLog</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CLG-110</td>\n<td>Parameter
        [sessionId] is not allowed for usage along with parameter [extensionNumber]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [dateFrom] value is invalid</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadCallLog] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [ReadCompanyCallLog] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: loadAccountCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionNumber
        in: query
        description: Extension number of a user. If specified, returns call log for
          a particular extension only
        required: false
        type: string
      - name: phoneNumber
        in: query
        description: Phone number of a caller/call recipient. If specified, returns
          all calls (both incoming and outcoming) with the phone number specified.
          Cannot be specified together with the extensionNumber filter
        required: false
        type: string
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: view
        in: query
        description: The default value is 'Simple' for both account and extension
          call log
        required: false
        type: array
        enum:
        - Simple
        - Detailed
        collectionFormat: multi
        items:
          type: string
      - name: withRecording
        in: query
        description: True if only recorded calls have to be returned
        required: false
        type: boolean
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      - name: sessionId
        in: query
        required: false
        type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/AccountCallLogResponse'
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/call-log/{callRecordId}:
    get:
      tags:
      - Call Log
      summary: Get Company Call Log Record(s) by ID
      description: "<p>Returns individual call log record(s) by ID(s). Batch request
        is supported.</p>\n<h4>App Permission</h4>\n<p>ReadCallLog</p>\n<h4>User Permission</h4>\n<p>FullCompanyCallLog</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In order
        to call this API endpoint, application needs to have [ReadCallLog] permission</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [callRecordId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: loadAccountCallLogRecord
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: callRecordId
        in: path
        description: Internal identifier of a call log record
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetCompanyCallLogRecordResponse'
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/active-calls:
    get:
      tags:
      - Call Log
      summary: Get User Active Calls
      description: "<p>Returns records of all calls that are in progress, ordered
        by start time in descending order.</p>\n<h4>App Permission</h4>\n<p>ReadCallLog</p>\n<h4>User
        Permission</h4>\n<p>ReadCallLog</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [direction] value is invalid</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadCallLog] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [ReadCompanyCallLog] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: listCompanyActiveCalls
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: transport
        in: query
        description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        required: false
        type: array
        enum:
        - PSTN
        - VoIP
        collectionFormat: multi
        items:
          type: string
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        required: false
        default: "1"
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ExtensionActiveCallsResponse'
      x-api-group: account/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/recording/{recordingId}:
    get:
      tags:
      - Call Log
      summary: Get Call Recording(s) by ID
      description: "<p>Returns call recording metadata by ID.</p>\n<h4>App Permission</h4>\n<p>ReadCallRecording</p>\n<h4>User
        Permission</h4>\n<p>ReadCallRecording</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadCallRecording]
        permission</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: listCallRecordings
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: recordingId
        in: path
        description: Internal identifier of a recording (returned in Call Log)
        required: true
        type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetCallRecordingResponse'
      x-api-group: account/recording
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/recording/{recordingId}/content:
    get:
      tags:
      - Call Log
      summary: Get Call Recordings Data
      description: "<p>Returns media content of a call recording.</p>\n<h4>App Permission</h4>\n<p>ReadCallRecording</p>\n<h4>User
        Permission</h4>\n<p>ReadCallRecording</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>401</td>\n<td>AGW-402</td>\n<td>Invalid
        Authorization header</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-149</td>\n<td>Unparsable
        access token</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadCallRecording]
        permission</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n<tr>\n<td>416</td>\n<td>CMN-107</td>\n<td>Requested
        range not satisfiable</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: listCallRecordingData
      consumes:
      - application/json
      produces:
      - audio/x-wav
      - audio/mpeg
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: recordingId
        in: path
        description: Internal identifier of a recording (returned in Call Log)
        required: true
        type: string
      responses:
        200:
          description: Call Recording Media Data
          schema:
            type: file
      x-api-group: account/recording/content
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/sms:
    post:
      tags:
      - SMS and MMS
      summary: Create SMS Message
      description: "<p>Creates and sends new SMS message. Sending SMS messages simultaneously
        to different recipients is limited up to 50 requests per minute; relevant
        for all client applications.</p>\n<h4>App Permission</h4>\n<p>SMS</p>\n<h4>User
        Permission</h4>\n<p>OutboundSMS</p>\n<h4>Usage Plan Group</h4>\n<p>Medium</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [] value is invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>CMN-406</td>\n<td>Duplicate
        value for parameter to: +13476733173 found in request</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-243</td>\n<td>Parameter
        [to] value [18882049692] is invalid [Phone number is blocked]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-245</td>\n<td>Parameter
        [from] value [88121002330] is invalid [Cannot find the phone number which
        belongs to user]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-246</td>\n<td>Sending
        SMS from/to extension numbers is not available</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-247</td>\n<td>Sending
        SMS to short numbers is not available</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-365</td>\n<td>Parameters
        [country.id] and [country.isoCode] can not be specified simultaneously</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-376</td>\n<td>Attachment
        size limit exceeded</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-379</td>\n<td>Too
        many attachments</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-381</td>\n<td>Exceeded
        maximum number of recipients for a Group MMS: [10]</td>\n</tr>\n<tr>\n<td>403</td>\n<td>BIL-103</td>\n<td>Feature
        [MMS] is not available for current account</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [SMS] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [OutboundSMS] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-240</td>\n<td>International
        SMS is not available for account.</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-241</td>\n<td>Cannot
        send SMS from Fax number</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-242</td>\n<td>The
        requested feature is not available</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-314</td>\n<td>Extension
        is of inappropriate type</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-367</td>\n<td>\"from\"
        phone number does not support SMS</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-383</td>\n<td>International
        MMS feature is not available</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-384</td>\n<td>Account
        limits exceeded. Cannot send the message.</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-388</td>\n<td>The
        destination is prohibited</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n<tr>\n<td>415</td>\n<td>MSG-348</td>\n<td>Unsupported
        attachment media type, attachment [3]: [stuff.smil]</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: sendSMS
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateSMSMessage'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/sms
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: SMS
      x-user-permission: OutboundSMS
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/company-pager:
    post:
      tags:
      - Internal Messages
      summary: Create Internal Text Message
      description: "<p>Creates and sends an internal text message.</p>\n<h4>App Permission</h4>\n<p>InternalMessages</p>\n<h4>User
        Permission</h4>\n<p>InternalSMS</p>\n<h4>Usage Plan Group</h4>\n<p>Medium</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [to.phoneNumber] value is invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [to] is not found</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-316</td>\n<td>Parameter
        [to] value [102] is invalid [Target extension not found]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-324</td>\n<td>Extension
        is of unappropriate state</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-331</td>\n<td>Parameter
        [from] value [11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111]
        is invalid [Sender extension number does not correspond to logged in extension]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-332</td>\n<td>Parameter
        [from] value [404544780008] is invalid [Sender extension id does not correspond
        to logged in extension]</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-335</td>\n<td>Recipient
        extension number does not correspond to ID</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [InternalMessages]
        permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In order
        to call this API endpoint, user needs to have [InternalSMS] permission for
        requested resource.</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-325</td>\n<td>Reply
        is forbidden for old message threads</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-326</td>\n<td>Reply
        is denied for user, who is no longer a thread participant</td>\n</tr>\n<tr>\n<td>403</td>\n<td>MSG-330</td>\n<td>Sender
        extension is of unappropriate type</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: createInternalTextMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateInternalTextMessageRequest'
      responses:
        200:
          description: Created Text Message
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/company-pager
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: InternalMessages
      x-user-permission: InternalSMS
      x-access-level: Basic
      x-availability: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/fax:
    post:
      tags:
      - Fax
      summary: Create Fax Message
      operationId: sendFaxMessage
      description: "<p>Creates and sends/resends new fax message. Resend can be done
        if sending failed.</p>\n<h4>App Permission</h4>\n<p>Faxes</p>\n<h4>User Permission</h4>\n<p>OutboundFaxes</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [to] value is invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-344</td>\n<td>Sending
        fax to extension numbers is not available</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-347</td>\n<td>Attachment
        [t.txt] body is empty</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-355</td>\n<td>For
        binary data filename with extension should be specified, attachment [1]: []</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-356</td>\n<td>Either
        filename or content type should be specified, attachment [1]: []</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-365</td>\n<td>Parameters
        [country.id] and [country.isoCode] can not be specified simultaneously</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-370</td>\n<td>filename
        is too long, 256 characters allowed</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [Faxes] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [OutboundFaxes] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n<tr>\n<td>415</td>\n<td>MSG-348</td>\n<td>Unsupported
        attachment media type, attachment [1]: [.jfif]</td>\n</tr>\n<tr>\n<td>415</td>\n<td>MSG-353</td>\n<td>No
        file extension or content type specified, attachment [1]: [filename,txt]</td>\n</tr>\n\n
        </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account (integer) or tilde
          (~) to indicate the account which was logged-in within the current session.
        required: true
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension (integer) or tilde (~) to
          indicate the extension assigned to the account logged-in within the current
          session
        required: true
        type: string
      - name: attachment
        in: formData
        description: File to upload
        required: true
        type: file
      - name: faxResolution
        in: formData
        description: Resolution of Fax
        required: true
        type: string
        enum:
        - High
        - Low
      - name: to
        in: formData
        description: To Phone Number
        required: true
        type: array
        items:
          type: string
      - name: sendTime
        in: formData
        description: Timestamp to send fax at. If not specified (current or the past),
          the fax is sent immediately
        required: false
        type: string
        format: date-time
      - name: isoCode
        in: formData
        description: ISO Code. e.g UK
        type: string
      - name: coverIndex
        in: formData
        description: Cover page identifier. For the list of available cover page identifiers
          please call the method Fax Cover Pages. If not specified, the default cover
          page which is configured in 'Outbound Fax Settings' is attached
        type: integer
      - name: coverPageText
        in: formData
        description: Cover page text, entered by the fax sender and printed on the
          cover page. Maximum length is limited to 1024 symbols
        type: string
      responses:
        200:
          description: 'OK: Fax Message Sent'
          schema:
            $ref: '#/definitions/FaxResponse'
      x-api-group: extension/fax
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Faxes
      x-user-permission: OutboundFaxes
      x-access-level: Basic
      x-availability: Basic
  /restapi/v1.0/dictionary/fax-cover-page:
    get:
      tags:
      - Fax
      summary: Get Available Fax Cover Pages
      operationId: listFaxCoverPages
      description: "<p>Returns fax cover pages available for the current extension.</p>\n<h4>Usage
        Plan Group</h4>\n<p>Light</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [page] value is invalid</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      responses:
        200:
          description: List of Available Fax Cover Pages
      x-api-group: dictionary/fax-cover-page
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-access-level: Basic
      x-availability: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message List
      description: "<p>Returns the list of messages from an extension mailbox.</p>\n<h4>App
        Permission</h4>\n<p>ReadMessages</p>\n<h4>User Permission</h4>\n<p>ReadMessages</p>\n<h4>Usage
        Plan Group</h4>\n<p>Light</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [readStatus] value is invalid</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadMessages]
        permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In order
        to call this API endpoint, user needs to have [ReadMessages] permission for
        requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: listMessages
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: availability
        in: query
        description: Specifies the availability status for the resulting messages.
          Multiple values are accepted
        required: false
        type: array
        default: Alive
        items:
          type: string
        collectionFormat: multi
        enum:
        - Alive
        - Deleted
        - Purged
      - name: conversationId
        in: query
        description: Specifies the conversation identifier for the resulting messages
        required: false
        type: integer
      - name: dateFrom
        in: query
        description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: direction
        in: query
        description: The direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Inbound
        - Outbound
      - name: distinctConversations
        in: query
        description: If 'True', then the latest messages per every conversation ID
          are returned
        required: false
        type: boolean
      - name: messageType
        in: query
        description: The type of the resulting messages. If not specified, all messages
          without message type filtering are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
      - name: readStatus
        in: query
        description: The read status for the resulting messages. Multiple values are
          accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Read
        - Unread
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      - name: phoneNumber
        in: query
        description: The phone number. If specified, messages are returned for this
          particular phone number only
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageList'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
      x-notifications:
      - $ref: '#/definitions/InboundMessageEvent'
      - $ref: '#/definitions/InstantMessageEvent'
      - $ref: '#/definitions/MessageEvent'
    delete:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Delete Conversation(s) by ID
      description: "<p>Deletes conversation(s) by conversation ID(s).</p>\n<h4>App
        Permission</h4>\n<p>EditMessages</p>\n<h4>User Permission</h4>\n<p>EditMessages</p>\n<h4>Usage
        Plan Group</h4>\n<p>Medium</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n
        \ <tr>\n   <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [conversationId] value is invalid</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [EditMessages]
        permission</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: deleteMessagesByFilter
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: extensionId
        in: path
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        type: string
      responses:
        204:
          description: No Content
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
      x-availability: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message(s) by ID
      description: "<p>Returns individual message record(s) by the given message ID(s).
        The length of inbound messages is unlimited. Batch request is supported.</p>\n<h4>App
        Permission</h4>\n<p>ReadMessages</p>\n<h4>User Permission</h4>\n<p>ReadMessages</p>\n<h4>Usage
        Plan Group</h4>\n<p>Light</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadMessages]
        permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In order
        to call this API endpoint, user needs to have [ReadMessages] permission for
        requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: loadMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
    put:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Update Message(s) by ID
      description: "<p>Updates message(s) by ID(s). Batch request is supported, see
        Batch Requests for details. Currently, only the message read status updating
        is supported.</p>\n<h4>App Permission</h4>\n<p>EditMessages</p>\n<h4>User
        Permission</h4>\n<p>EditMessages</p>\n<h4>Usage Plan Group</h4>\n<p>Medium</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [] value is invalid</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [EditMessages]
        permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In order
        to call this API endpoint, user needs to have [EditMessages] permission for
        requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: updateMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/UpdateMessageRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
      x-availability: Basic
    delete:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Delete Message(s) by ID
      description: "<p>Deletes message(s) by the given message ID(s). The first call
        of this method transfers the message to the &#39;Delete&#39; status. The second
        call transfers the deleted message to the &#39;Purged&#39; status. If it is
        required to make the message &#39;Purged&#39; immediately (from the first
        call), then set the query parameter purge to &#39;True&#39;.</p>\n<h4>App
        Permission</h4>\n<p>EditMessages</p>\n<h4>User Permission</h4>\n<p>EditMessages</p>\n<h4>Usage
        Plan Group</h4>\n<p>Medium</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n
        \ <tr>\n   <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [purge] value is invalid</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [EditMessages]
        permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In order
        to call this API endpoint, user needs to have [EditMessages] permission for
        requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: deleteMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - name: purge
        in: query
        description: If the value is 'True', then the message is purged immediately
          with all the attachments
        default: false
        required: false
        type: boolean
      - name: conversationId
        in: query
        description: Internal identifier of a message thread
        required: false
        type: integer
      responses:
        204:
          description: No Content
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
      x-availability: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message Attachment
      description: "<p>Returns a specific message attachment data as a media stream.</p>\n<h4>App
        Permission</h4>\n<p>ReadMessages</p>\n<h4>User Permission</h4>\n<p>ReadMessageContent</p>\n<h4>Usage
        Plan Group</h4>\n<p>Medium</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n
        \ <tr>\n   <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>401</td>\n<td>AGW-402</td>\n<td>Invalid
        Authorization header</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-149</td>\n<td>Unparsable
        access token</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadMessages]
        permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In order
        to call this API endpoint, user needs to have [ReadMessageContent] permission
        for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n<tr>\n<td>416</td>\n<td>CMN-107</td>\n<td>Requested
        range not satisfiable</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      consumes:
      - application/json
      produces:
      - text/plain
      - image/tiff
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: attachmentId
        in: path
        description: Internal identifier of a message attachment
        required: true
        type: integer
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - name: Range
        in: header
        required: false
        type: string
      responses:
        200:
          description: Attachment Data
      x-api-group: extension/message-store/content
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessageContent
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-sync:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Sync Messages
      description: "<p>Synchronizes messages.</p>\n<h4>App Permission</h4>\n<p>ReadMessages</p>\n<h4>User
        Permission</h4>\n<p>ReadMessages</p>\n<h4>Usage Plan Group</h4>\n<p>Light</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [messageType] value is invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>MSG-333</td>\n<td>Parameter
        [syncToken] is invalid</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadMessages]
        permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In order
        to call this API endpoint, user needs to have [ReadMessages] permission for
        requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: syncMessages
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: conversationId
        in: query
        description: Conversation identifier for the resulting messages. Meaningful
          for SMS and Pager messages only.
        required: false
        type: integer
      - name: dateFrom
        in: query
        description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: direction
        in: query
        description: Direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Inbound
        - Outbound
      - name: distinctConversations
        in: query
        description: If 'True', then the latest messages per every conversation ID
          are returned
        required: false
        type: boolean
      - name: messageType
        in: query
        description: Type for the resulting messages. If not specified, all types
          of messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
      - name: recordCount
        in: query
        description: Limits the number of records to be returned (works in combination
          with dateFrom and dateTo if specified)
        required: false
        type: integer
      - name: syncToken
        in: query
        description: Value of syncToken property of last sync request response
        required: false
        type: string
      - name: syncType
        in: query
        description: Type of message synchronization
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - FSync
        - ISync
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageSyncResponse'
      x-api-group: extension/message-sync
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/voicemail:
    post:
      tags:
      - Voicemail
      summary: Send Voicemail
      operationId: sendVoicemailMultipartForm
      description: |-
        <p>Sends a voicemail.</p>
        <h4>App Permission</h4>
        <p>Voicemail</p>
        <h4>User Permission</h4>
        <p>Voicemail</p>
        <h4>Usage Plan Group</h4>
        <p>Heavy</p>
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account (integer) or tilde
          (~) to indicate the account which was logged-in within the current session.
        required: true
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension (integer) or tilde (~) to
          indicate the extension assigned to the account logged-in within the current
          session
        required: true
        type: string
      - name: body
        in: body
        required: false
        schema:
          $ref: '#/definitions/CreateVoicemail'
      responses:
        204:
          description: Successful operation
      x-api-group: extension/voicemail
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Voicemail
      x-user-permission: Voicemail
      x-access-level: Advanced
      x-availability: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out:
    post:
      tags:
      - RingOut
      summary: Make RingOut Call
      description: "<p>Makes a 2-leg RingOut call.</p>\n<h4>App Permission</h4>\n<p>RingOut</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [phoneNumber] value is invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>TEL-107</td>\n<td>Caller
        ID: [+18609411729] is not allowed</td>\n</tr>\n<tr>\n<td>400</td>\n<td>TEL-108</td>\n<td>phoneNumber
        specified in the from field is empty or invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>TEL-109</td>\n<td>phoneNumber
        specified in the to field is empty or invalid</td>\n</tr>\n<tr>\n<td>403</td>\n<td>BIL-103</td>\n<td>Feature
        [RingOut] is not available for current account</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-112</td>\n<td>Feature
        [RingOut] is not available for current extension type</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-113</td>\n<td>Feature
        [DomesticCalls] is not available for current extension</td>\n</tr>\n<tr>\n<td>403</td>\n<td>RNG-102</td>\n<td>Caller
        ID should be one of company direct numbers</td>\n</tr>\n<tr>\n<td>403</td>\n<td>TEL-101</td>\n<td>phoneNumber
        specified in the to field: [17176704078] is in blocked list</td>\n</tr>\n<tr>\n<td>403</td>\n<td>TEL-102</td>\n<td>phoneNumber
        specified in the from field: [17176704078] is in blocked list</td>\n</tr>\n<tr>\n<td>403</td>\n<td>TEL-107</td>\n<td>Caller
        ID: [+12094441763] is not allowed</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [forwardingNumberId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: makeRingOutCall
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: body
        in: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/MakeRingOutRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out/{ringoutId}:
    get:
      tags:
      - RingOut
      summary: ' Get RingOut Call Status'
      description: "<p>Returns the status of a 2-leg RingOut call.</p>\n<h4>App Permission</h4>\n<p>RingOut</p>\n<h4>Usage
        Plan Group</h4>\n<p>Light</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>503</td>\n<td>CMN-201</td>\n<td>Service
        Temporary Unavailable</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: getRingOutCallStatus
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
    delete:
      tags:
      - RingOut
      summary: Cancel RingOut Call
      description: "<p>Cancels a 2-leg RingOut call.</p>\n<h4>App Permission</h4>\n<p>RingOut</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [ringOutId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: cancelRingOutCall
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout:
    post:
      tags:
      - RingOut
      summary: Make RingOut Call
      deprecated: true
      description: "<p>Makes a 2-leg RingOut call.</p>\n<h4>App Permission</h4>\n<p>RingOut</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [phoneNumber] value is invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>TEL-107</td>\n<td>Caller
        ID: [+14152961727] is not allowed</td>\n</tr>\n<tr>\n<td>400</td>\n<td>TEL-108</td>\n<td>phoneNumber
        specified in the from field is empty or invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>TEL-109</td>\n<td>phoneNumber
        specified in the to field is empty or invalid</td>\n</tr>\n<tr>\n<td>403</td>\n<td>BIL-103</td>\n<td>Feature
        [RingOut] is not available for current account</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-112</td>\n<td>Feature
        [RingOut] is not available for current extension type</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-113</td>\n<td>Feature
        [DomesticCalls] is not available for current extension</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [RingOut] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>RNG-102</td>\n<td>Caller
        ID should be one of company direct numbers</td>\n</tr>\n<tr>\n<td>403</td>\n<td>TEL-101</td>\n<td>phoneNumber
        specified in the to field: [17176704073] is in blocked list</td>\n</tr>\n<tr>\n<td>403</td>\n<td>TEL-102</td>\n<td>phoneNumber
        specified in the from field: [17172302150] is in blocked list</td>\n</tr>\n<tr>\n<td>403</td>\n<td>TEL-107</td>\n<td>Caller
        ID: [+12094441789] is not allowed</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: makeRingOutCallDeprecated
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: body
        in: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/MakeRingOutRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponseIntId'
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}:
    get:
      tags:
      - RingOut
      deprecated: true
      summary: Get RingOut Call Status
      description: "<p>Returns status of a 2-leg RingOut call.</p>\n<h4>App Permission</h4>\n<p>RingOut</p>\n<h4>Usage
        Plan Group</h4>\n<p>Light</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [RingOut] permission</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: getRingOutCallStatusDeprecated
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
    delete:
      tags:
      - RingOut
      deprecated: true
      summary: Cancel RingOut Call
      description: "<p>Cancels a 2-leg RingOut call.</p>\n<h4>App Permission</h4>\n<p>RingOut</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: cancelRingOutCallDeprecated
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact:
    get:
      tags:
      - User Contacts
      summary: Get Contact List
      description: "<p>Returns user personal contacts.</p>\n<h4>App Permission</h4>\n<p>ReadContacts</p>\n<h4>User
        Permission</h4>\n<p>ReadPersonalContacts</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [perPage] value is invalid</td>\n</tr>\n<tr>\n<td>401</td>\n<td>CMN-405</td>\n<td>Login
        to extension required</td>\n</tr>\n<tr>\n<td>401</td>\n<td>OAU-151</td>\n<td>Authorization
        method not supported</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In
        order to call this API endpoint, application needs to have [ReadContacts]
        permission</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: listContacts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: startsWith
        in: query
        description: If specified, only contacts whose First name or Last name start
          with the mentioned substring are returned. Case-insensitive
        required: false
        type: string
      - name: sortBy
        in: query
        description: Sorts results by the specified property
        default: FirstName
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - FirstName
        - LastName
        - Company
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      - name: phoneNumber
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ContactList'
          examples:
            application/json:
              $ref: examples/rc-platform-address-book-examples.json#/getAddressBookContactsResponse
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Basic
    post:
      tags:
      - User Contacts
      summary: Create Contact
      description: "<p>Creates personal user contact.</p>\n<h4>App Permission</h4>\n<p>Contacts</p>\n<h4>User
        Permission</h4>\n<p>EditPersonalContacts</p>\n<h4>Usage Plan Group</h4>\n<p>Heavy</p>\n<h4>Error
        Codes</h4>\n<table>\n <thead>\n  <tr>\n   <th>HTTP Code</th>\n   <th>Error
        Code</th>\n   <th>Error Message</th>\n  </tr> </thead>\n <tbody>\n<tr>\n<td>400</td>\n<td>CMN-101</td>\n<td>Parameter
        [notes] value is invalid</td>\n</tr>\n<tr>\n<td>400</td>\n<td>PAB-102</td>\n<td>Parameter
        [assistantPhone] is invalid. Failed to parse phone number.</td>\n</tr>\n<tr>\n<td>400</td>\n<td>PAB-103</td>\n<td>Parameter
        [assistantPhone] is invalid. The phone number is too long.</td>\n</tr>\n<tr>\n<td>400</td>\n<td>PAB-104</td>\n<td>Parameter
        [assistantPhone] is invalid. The phone numbers starting with the asterisk
        are not supported.</td>\n</tr>\n<tr>\n<td>400</td>\n<td>PAB-105</td>\n<td>Parameter
        [assistantPhone] is invalid. The extensions longer than 10 digits are not
        supported.</td>\n</tr>\n<tr>\n<td>400</td>\n<td>PAB-106</td>\n<td>Parameter
        [assistantPhone] is invalid. The DTMF sequences longer than 64 digits are
        not supported.</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In order
        to call this API endpoint, application needs to have [Contacts] permission</td>\n</tr>\n<tr>\n<td>403</td>\n<td>CMN-408</td>\n<td>In
        order to call this API endpoint, user needs to have [EditPersonalContacts]
        permission for requested resource.</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [accountId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: createContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: dialingPlan
        in: query
        description: A country code value complying with the [ISO 3166-1 alpha-2](https://ru.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          format. The default value is home country of the current extension
        required: false
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PersonalContactResource'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PersonalContactResource'
        400:
          description: 'Contact cannot be created: max contacts count reached ($limit)'
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact/{contactId}:
    get:
      tags:
      - User Contacts
      summary: Get Contact(s) by ID
      description: "<p>Returns contact(s) by ID(s). Batch request is supported.</p>\n<h4>App
        Permission</h4>\n<p>ReadContacts</p>\n<h4>User Permission</h4>\n<p>ReadPersonalContacts</p>\n<h4>Usage
        Plan Group</h4>\n<p>Heavy</p>\n<h4>Error Codes</h4>\n<table>\n <thead>\n  <tr>\n
        \  <th>HTTP Code</th>\n   <th>Error Code</th>\n   <th>Error Message</th>\n
        \ </tr> </thead>\n <tbody>\n<tr>\n<td>403</td>\n<td>CMN-401</td>\n<td>In order
        to call this API endpoint, application needs to have [ReadContacts] permission</td>\n</tr>\n<tr>\n<td>404</td>\n<td>CMN-102</td>\n<td>Resource
        for parameter [extensionId] is not found</td>\n</tr>\n\n </tbody>\n</table>\t\t\t\t\n\t\t\t\t"
      operationId: loadContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: contactId
        in: path
        description: Internal identifier of a contact record in the RingCentral database
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/PersonalContactResource'
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Basic
    put:
      tags:
      - User Contacts
      summary: Update Contact(s) by ID
[...]
