swagger: "2.0"
info:
  title: RingCentral Connect Platform API
  description: RingCentral Connect Platform API
  version: 1.0.34
  contact:
    name: RingCentral Connect Platform
    url: http://developers.ringcentral.com
    email: platform@ringcentral.com
  license:
    name: RingCentral API License Agreement and Terms of Use
    url: https://www.ringcentral.com/legal/apilitos.html
host: platform.ringcentral.com
schemes:
- https
basePath: /
produces:
- application/json
tags:
- name: API Info
  description: ' '
- name: Call Log
  description: ' '
- name: Phone Numbers
  description: ' '
- name: Fax
  description: ' '
- name: SMS/MMS
  description: ' '
- name: Internal Messages
  description: ' '
- name: RingOut
  description: ' '
- name: User Contacts
  description: ' '
- name: Company Contacts
  description: ' '
- name: Presence
  description: ' '
- name: Greeting Recording Call
- name: Verification Call
- name: Glip [Beta]
  description: ' '
- name: Meetings [Beta]
  description: ' '
- name: Push Notifications
  description: ' '
- name: Roles and Permissions
  description: ' '
- name: Call Handling Settings
  description: ' '
- name: Application Settings
  description: ' '
- name: User Settings
  description: ' '
- name: Company Settings
  description: ' '
- name: Regional Settings
  description: ' '
- name: Account Provisioning
  description: ' '
- name: SCIM
  description: ' '
- name: Reporting
  description: ' '
- name: ADG
x-auth-required: true
x-blacklisting-strategy: "Off"
x-internal-api: false
x-metered-api: true
x-metering-group: System
x-servers:
- url: //platform.ringcentral.com
  description: Default server
- url: //platform.devtest.ringcentral.com
  description: Sandbox se
x-service-interface: rest
x-service-name: pas
x-service-version: v1
x-tagGroups:
- name: General
  tags:
  - API Info
- name: Data
  tags:
  - Call Log
- name: Contacts
  tags:
  - User Contacts
  - Company Contacts
  - Phone Numbers
- name: Messages
  tags:
  - SMS/MMS
  - Fax
  - Internal Messages
- name: Voice
  tags:
  - RingOut
  - Presence
  - Greeting Recording Call
  - Verification Call
- name: null
  tags:
  - Glip [Beta]
- name: null
  tags:
  - Meetings [Beta]
- name: null
  tags:
  - Push Notifications
- name: null
  tags:
  - Roles and Permissions
- name: Configuration
  tags:
  - Call Handling Settings
  - Application Settings
  - User Settings
  - Company Settings
  - Regional Settings
  - Account Provisioning
- name: null
  tags:
  - SCIM
- name: null
  tags:
  - Reporting
- name: Internal
  tags:
  - ADG
  - CSG
  - Integrations
paths:
  /restapi/:
    get:
      tags:
      - API Info
      summary: Get API Versions
      description: <p style='font-style:italic;'>Since 1.0.0</p><p>Returns current
        API version(s) and server info.</p><h4>Usage Plan Group</h4><p>Light</p>
      operationId: getAllVersions
      consumes:
      - application/json
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetVersionsResponse'
      x-api-group: restapi
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/{apiVersion}:
    get:
      tags:
      - API Info
      summary: Get Version Info
      description: <p style='font-style:italic;'>Since 1.0.0</p><p>Returns current
        API version info by apiVersion.</p><h4>Usage Plan Group</h4><p>Light</p>
      operationId: getApiVersion
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: apiVersion
        in: path
        description: API version to be requested, for example 'v1.0'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetVersionResponse'
      x-api-group: restapi/version
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/v1.0/status:
    get:
      tags:
      - API Info
      summary: Get Service status
      description: <p style='font-style:italic;'>Since 1.0.0</p><p>Returns current
        PAS service status.</p><h4>Usage Plan Group</h4><p>Light</p>
      operationId: loadAPIStatus
      responses:
        200:
          description: Success
        502:
          description: Service in survival mode
        503:
          description: Service in read only mode
      x-api-group: restapi/status
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out:
    post:
      tags:
      - RingOut
      summary: Make RingOut Call
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Makes
        a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Heavy</p>
      operationId: makeRingOutCallNew
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/MakeRingOutRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out/{ringoutId}:
    get:
      tags:
      - RingOut
      summary: Get Status of RingOut Call
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns
        the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: getRingOutCallStatusNew
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
    delete:
      tags:
      - RingOut
      summary: Cancel RingOut Call
      description: <p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut
        call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Heavy</p>
      operationId: cancelRingOutCallNew
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout:
    post:
      tags:
      - RingOut
      summary: Make RingOut Call
      deprecated: true
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Makes
        a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Heavy</p>
      operationId: makeRingOutCall
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/MakeRingOutRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}:
    get:
      tags:
      - RingOut
      deprecated: true
      summary: Get Status of RingOut Call
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns
        the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: getRingOutCallStatus
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
    delete:
      tags:
      - RingOut
      deprecated: true
      summary: Cancel RingOut Call
      description: <p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut
        call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Heavy</p>
      operationId: cancelRingOutCall
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  
  
  
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/presence:
    get:
      tags:
      - Presence
      summary: Get User Status
      description: '<p style=''font-style:italic;''>Since 1.0.2</p><p>Returns presence
        status of an extension or several extensions by their ID(s). Batch request
        is supported, see Batch Requests for details.The presenceStatus is returned
        as Offline (the parameters telephonyStatus, message, userStatus and dndStatus
        are not returned at all) for the following extension types: Department/Announcement
        Only/Take Messages Only (Voicemail)/Fax User/Paging Only Group/Shared Lines
        Group/IVR Menu/Application Extension/Park Location.If the user requests his/her
        own presence status, the response contains actual presence status even if
        the status publication is turned off.Batch request is supported. For batch
        requests the number of extensions in one request is limited to 30. If more
        extensions are included in the request, the error code 400 Bad Request is
        returned with the logical error code InvalidMultipartRequest and the corresponding
        message ''Extension Presence Info multipart request is limited to 30 extensions''.</p><h4>Required
        Permissions</h4><table class=''fullwidth''><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class=''code''>ReadPresence</td><td>Getting user presence information</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>'
      operationId: getPresenceStatus
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: detailedTelephonyState
        in: query
        description: Whether to return detailed telephony state
        required: false
        type: boolean
      - name: sipData
        in: query
        description: Whether to return SIP data
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetPresenceInfo'
      x-api-group: extension/presence
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadPresence
      x-user-permission: ReadPresenceStatus
      x-access-level: Basic
    put:
      tags:
      - Presence
      summary: Update User Status
      operationId: updatePresenceStatus
      description: 'Updates user-defined extension presence status, status message
        and DnD status by extension ID. Supported for regular User extensions only.
        The extension types listed do not support presence status: Department, Announcement
        Only, Take Messages Only (Voicemail), Fax User, Paging Only Group, Shared
        Lines Group, IVR Menu, Application Extension.'
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PresenceInfoResource'
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PresenceInfoResource'
      x-api-group: extension/presence
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditPresence
      x-access-level: Basic
  
  
  
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/sms:
    post:
      tags:
      - SMS/MMS
      summary: Create SMS Message
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends
        new SMS message. Sending SMS messages simultaneously to different recipients
        is limited up to 50 requests per minute; relevant for all client applications.</p><h4>Required
        Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>SMS</td><td>Sending and receiving SMS (text) messages</td></tr><tr><td
        class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: sendSMS
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateSMSMessage'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/sms
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: SMS
      x-user-permission: OutboundSMS
      x-access-level: Basic
  
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/company-pager:
    post:
      tags:
      - Internal Messages
      summary: Create Pager Message
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends
        a pager message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>InternalMessages</td><td>Sending and receiving intra-company
        text messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user
        messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>
      operationId: sendInternalMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreatePagerMessageRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/company-pager
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: InternalMessages
      x-user-permission: InternalSMS
      x-access-level: Basic
  
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/fax:
    post:
      tags:
      - Fax
      summary: Send Fax
      operationId: sendFax
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends/resends
        new fax message. Resend can be done if sending failed.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>Faxes</td><td>Sending and receiving faxes</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing
        user messages</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>
      consumes:
      - multipart/mixed; boundary=Boundary_1_14413901_1361871080888
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account (integer) or tilde
          (~) to indicate the account which was logged-in within the current session.
        default: "~"
        required: true
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension (integer) or tilde (~) to
          indicate the extension assigned to the account logged-in within the current
          session
        default: "~"
        required: true
        type: string
      - name: Content-Type
        in: header
        default: multipart/mixed; boundary=Boundary_1_14413901_1361871080888
        type: string
        description: This form fills out this required field automatically using the
          example MIME boundary string.
      - name: Content-Length
        in: header
        default: ""
        description: Actual content length. This form fills out this required field
          automatically.
        type: string
      - name: body
        in: body
        schema:
          type: string
          example: "--Boundary_1_14413901_1361871080888\nContent-Type: application/json\n{
            \ \n  \"to\":[{\"phoneNumber\": \"18005630003\"}],\n  \"faxResolution\":
            \"High\",  \n  \"sendTime\": \"2013-02-26T09:31:20.882Z\"\n}\n--Boundary_1_14413901_1361871080888\nContent-Type:
            text/plain\n\nHello, World!\n--Boundary_1_14413901_1361871080888--\n"
        description: 'Multi-part MIME consisting of one part JSON body and one part
          text. For the MIME boundary, in this UI, use "Boundary_1_14413901_1361871080888".
          JSON body values: <table class="tabular-description"><tr class="first property
          row" style="border-top: 1px solid #e8e8e8"><td class="property-name">Property</td><td
          class="property-value">to</td></tr><tr class="row"><td class="property-name">Data
          type</td><td class="property-value">Contact Info object</td></tr><tr class="last
          property row"><td class="property-name">Description</td><td class="property-value">Recipient
          information. <b>phoneNumber</b> property is mandatory</td></tr><tr class="first
          property row" style="border-top: 1px solid #e8e8e8"><td class="property-name">Property</td><td
          class="property-value">resolution</td></tr><tr class="row"><td class="property-name">Data
          type</td><td class="property-value"><select><option>High</option><option>Low</option></select></td></tr><tr
          class="last property row"><td class="property-name">Description</td><td
          class="property-value">Fax resolution</td></tr><tr class="first property
          row" style="border-top: 1px solid #e8e8e8"><td class="property-name">Property</td><td
          class="property-value">sendTime</td></tr><tr class="row"><td class="property-name">Data
          type</td><td class="property-value">datetime</td></tr><tr class="last property
          row"><td class="property-name">Description</td><td class="property-value">Optional.
          Timestamp to send fax at. If not specified (current or the past),the faxissent
          immediately</td></tr><tr class="first property row" style="border-top: 1px
          solid #e8e8e8"><td class="property-name">Property</td><td class="property-value">coverIndex</td></tr><tr
          class="row"><td class="property-name">Data type</td><td class="property-value">Integer
          (0-13)<br><select><option>0 (none - no cover page)</option><option>1 ("Ancient"
          cover page)</option><option>2 ("Birthday" cover page)</option><option>3
          ("Blank" cover page)</option><option>4 ("Clasmod" cover page)</option><option>5
          ("Classic" cover page)</option><option>6 ("Confidential" cover page)</option><option>7
          ("Contempo" cover page)</option><option>8 ("Elegant" cover page)</option><option>9
          ("Express" cover page)</option><option>10 ("Formal" cover page)</option><option>11
          ("Jazzy" cover page)</option><option>12 ("Modern" cover page)</option><option>13
          ("Urgent" cover page)</option></select></td></tr><tr class="last property
          row"><td class="property-name">Description</td><td class="property-value">Optional.
          Cover page index. If not specified, the default coverpagewhichisconfigured
          in "Outbound FaxSettings" is attached. See also "Available Cover Pages"
          tablebelow</td></tr><tr class="first property row" style="border-top: 1px
          solid #e8e8e8"><td class="property-name">Property</td><td class="property-value">coverPageText</td></tr><tr
          class="row"><td class="property-name">Data type</td><td class="property-value">string</td></tr><tr
          class="last property row"><td class="property-name">Description</td><td
          class="property-value">Optional. Cover page text, entered by the fax sender
          and printed on thecoverpage.Maximum length is limited to 1024 symbols</td></tr></table>'
      responses:
        200:
          description: 'OK: Fax Message Sent'
          schema:
            $ref: '#/definitions/FaxResponse'
      x-api-group: extension/fax
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Faxes
      x-user-permission: OutboundFaxes
      x-access-level: Basic
  
  
  /restapi/v1.0/dictionary/fax-cover-page:
    get:
      tags:
      - Fax
      summary: Get Available Fax Cover Pages
      operationId: listFaxCoverPages
      description: Returns fax cover pages available for the current extension.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed. Default value is '1'
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items). If not specified,
          the value is '100' by default
        required: false
        type: integer
      responses:
        default:
          description: successful operation
      x-api-group: dictionary/fax-cover-page
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store:
    get:
      tags:
      - Fax
      - SMS/MMS
      - Internal Messages
      summary: Get Message List
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list
        of messages from an extension mailbox.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: listMessages
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: availability
        in: query
        description: Specifies the availability status for the resulting messages.
          Default value is 'Alive'. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Alive
        - Deleted
        - Purged
      - name: conversationId
        in: query
        description: Specifies the conversation identifier for the resulting messages
        required: false
        type: integer
      - name: dateFrom
        in: query
        description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        required: false
        type: string
      - name: dateTo
        in: query
        description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
      - name: direction
        in: query
        description: The direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Inbound
        - Outbound
      - name: distinctConversations
        in: query
        description: If 'True', then the latest messages per every conversation ID
          are returned
        required: false
        type: boolean
      - name: messageType
        in: query
        description: The type of the resulting messages. If not specified, all messages
          without message type filtering are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
      - name: readStatus
        in: query
        description: The read status for the resulting messages. Multiple values are
          accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Read
        - Unread
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed. Default value is '1'
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items). If not specified,
          the value is '100' by default
        required: false
        type: integer
      - name: phoneNumber
        in: query
        description: The phone number. If specified, messages are returned for this
          particular phone number only
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageList'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
    delete:
      tags:
      - Fax
      - SMS/MMS
      - Internal Messages
      summary: Delete Conversations by ID's
      description: Deletes conversation(s) by conversation ID(s). Batch request is
        supported.
      operationId: deleteMessagesByFilter
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: extensionId
        in: path
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        type: string
      responses:
        default:
          description: successful operation
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}:
    get:
      tags:
      - Fax
      - SMS/MMS
      - Internal Messages
      summary: Get Message(s) by ID
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Returns individual
        message record(s) by the given message ID(s). The length of inbound messages
        is unlimited. Batch request is supported, see Batch Requests for details.</p><h4>Required
        Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: loadMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
    put:
      tags:
      - Fax
      - SMS/MMS
      - Internal Messages
      summary: Update Message(s) by ID
      description: <p style='font-style:italic;'>Since 1.0.2</p><p>Updates message(s)
        by ID(s). Batch request is supported, see Batch Requests for details. Currently,
        only the message read status updating is supported.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td
        class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: updateMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/UpdateMessageRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
    delete:
      tags:
      - Fax
      - SMS/MMS
      - Internal Messages
      summary: Delete Message(s) by ID
      description: <p style='font-style:italic;'></p><p>Deletes message(s) by the
        given message ID(s). The first call of this method transfers the message to
        the 'Delete' status. The second call transfers the deleted message to the
        'Purged' status. If it is required to make the message 'Purged' immediately
        (from the first call), then set the query parameter purge to 'True'.</p><h4>Required
        Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td
        class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: deleteMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - name: purge
        in: query
        description: If the value is 'True', then the message is purged immediately
          with all the attachments. The default value is 'False'
        required: false
        type: boolean
      - name: conversationId
        in: query
        description: Internal identifier of a message thread
        required: false
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}:
    get:
      tags:
      - Fax
      - SMS/MMS
      - Internal Messages
      summary: Get Message Attachment
      description: <p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns
        particular message attachment data as a media stream.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: loadMessageAttachment
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: attachmentId
        in: path
        description: Internal identifier of a message attachment
        required: true
        type: integer
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - name: Range
        in: header
        required: false
        type: string
      responses:
        default:
          description: Success
      x-api-group: extension/message-store/content
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessageContent
      x-access-level: Basic
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-sync:
    get:
      tags:
      - Fax
      - SMS/MMS
      - Internal Messages
      summary: Get Message Sync
      description: <p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Provides
        facilities to synchronize mailbox content stored externally with server state.</p><h4>Required
        Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: syncMessages
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: conversationId
        in: query
        description: Conversation identifier for the resulting messages. Meaningful
          for SMS and Pager messages only.
        required: false
        type: integer
      - name: dateFrom
        in: query
        description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        required: false
        type: string
      - name: dateTo
        in: query
        description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
      - name: direction
        in: query
        description: Direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Inbound
        - Outbound
      - name: distinctConversations
        in: query
        description: If 'True', then the latest messages per every conversation ID
          are returned
        required: false
        type: boolean
      - name: messageType
        in: query
        description: Type for the resulting messages. If not specified, all types
          of messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
      - name: recordCount
        in: query
        description: Limits the number of records to be returned (works in combination
          with dateFrom and dateTo if specified)
        required: false
        type: integer
      - name: syncToken
        in: query
        description: Value of syncToken property of last sync request response
        required: false
        type: string
      - name: syncType
        in: query
        description: Type of message synchronization
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - FSync
        - ISync
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageSyncResponse'
      x-api-group: extension/message-sync
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/business-hours:
    get:
      tags:
      - Call Handling Settings
      summary: Get User Business Hours
      description: <p style='font-style:italic;'>Since 1.0.15 (Release 7.0)</p><p>Returns
        the extension user hours when answering rules are to be applied.</p><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: loadUserBusinessHours
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetUserBusinessHoursResponse'
      x-api-group: extension/business-hours
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadExtensions
      x-access-level: Basic
    put:
      tags:
      - Call Handling Settings
      summary: Update User Business Hours
      operationId: updateUserBusinessHours
      description: <p style='font-style:italic;'>Since 1.0.28 (Release 8.4)</p><p>Updates  the
        extension user hours when answering rules are to be applied.</p><h4>Required
        Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating user extension info
        (includes extension name, number, email and phone number, assigned phone numbers,
        devices and other extension settings)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        type: string
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        default: "~"
      - name: extensionId
        type: string
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        default: "~"
      - name: body
        in: body
        description: JSON body
        schema:
          $ref: '#/definitions/UserBusinessHoursUpdateRequest'
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserBusinessHoursUpdate'
      x-api-group: extension/business-hours
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/business-hours:
    get:
      tags:
      - Call Handling Settings
      summary: Get Company Business Hours
      description: <p style='font-style:italic;'>Since 1.0.32 (Release 9.3)</p><p>Returns
        company hours when answering rules are to be applied.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: loadBusinesshoursInfo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyBusinessHours'
      x-api-group: extension/answering-rule
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserAnsweringRules
      x-access-level: Basic
    put:
      tags:
      - Call Handling Settings
      summary: Update Company Business Hours
      description: <p style='font-style:italic;'>Since 1.0.24 (Release 8.0)</p><p>Updates
        company hours when answering rules are to be applied.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating my extension info
        (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: updateCompanyBusinessHours
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CompanyBusinessHoursUpdateRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyBusinessHours'
      x-api-group: extension/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
      x-access-level: Basic
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/blocked-number:
    get:
      tags:
      - Call Handling Settings
      summary: Get Blocked Numbers
      deprecated: true
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: listBlockedNumbers
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BlockedNumbersList'
      x-api-group: extension/blocked-number
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadBlockedNumbers
      x-access-level: Basic
    post:
      tags:
      - Call Handling Settings
      summary: Add Blocked Numbers
      deprecated: true
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating my extension info
        (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: blockNumber
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/BlockedNumberInfo'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BlockedNumberInfo'
      x-api-group: extension/blocked-number
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditBlockedNumbers
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/blocked-number/{blockedNumberId}:
    get:
      tags:
      - Call Handling Settings
      summary: Get Blocked Number
      deprecated: true
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: loadBlockedNumber
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: blockedNumberId
        in: path
        description: Internal identifiers of a blocked number list entry
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BlockedNumberInfo'
      x-api-group: extension/blocked-number
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadBlockedNumbers
      x-access-level: Basic
    put:
      tags:
      - Call Handling Settings
      summary: Update Blocked Number
      deprecated: true
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating my extension info
        (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: updateBlockedNumber
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: blockedNumberId
        in: path
        description: Internal identifier of a blocked number list entry
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/BlockedNumberInfo'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BlockedNumberInfo'
      x-api-group: extension/blocked-number
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditBlockedNumbers
      x-access-level: Basic
    delete:
      tags:
      - Call Handling Settings
      deprecated: true
      summary: Delete Blocked Number
      description: <p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating my extension info
        (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: unblockNumber
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: blockedNumberId
        in: path
        description: Internal identifiers of a blocked number list entry
        required: true
        type: integer
      responses:
        200:
          description: OK
      x-api-group: extension/blocked-number
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditBlockedNumbers
      x-access-level: Basic
  
  
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/forwarding-number:
    get:
      tags:
      - Call Handling Settings
      summary: Get Forwarding Numbers
      description: <p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns
        the list of extension phone numbers used for call forwarding and call flip.
        The returned list contains all the extension phone numbers that are used for
        call forwarding and call flip.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: listExtensionForwardingNumbers
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed. Default value is '1'
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items). If not specified,
          the value is '100' by default
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetExtensionForwardingNumberListResponse'
      x-api-group: extension/forwarding-number
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserForwardingFlipNumbers
      x-access-level: Basic
    post:
      tags:
      - Call Handling Settings
      summary: Create Forwarding Numbers
      description: <p style='font-style:italic;'>Since 1.0.12 (Release 6.4)</p><p>Adds
        a new forwarding number to the forwarding number list.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating user extension info
        (includes extension name, number, email and phone number, assigned phone numbers,
        devices and other extension settings)</td></tr></tbody></table><h4>Usage Plan
        Group</h4><p>Medium</p>
      operationId: createExtensionForwardingNumber
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateForwardingNumberRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ForwardingNumberInfo'
      x-api-group: extension/forwarding-number
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserForwardingFlipNumbers
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/forwarding-number/{forwardingNumberId}:
    get:
      tags:
      - Call Handling Settings
      summary: Get Forwarding Number
      operationId: getForwardingNumber
      description: Returns specific forwarding number.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: forwardingNumberId
        in: path
        required: true
        type: string
      - name: extensionId
        in: path
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ForwardingNumberResource'
      x-api-group: extension/forwarding-number
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserForwardingFlipNumbers
      x-access-level: Basic
    put:
      tags:
      - Call Handling Settings
      summary: Update Forwarding Numbers
      description: <p style='font-style:italic;'>Since 1.0.24 (Release 8.0)</p><p>Updates
        an existent forwarding number from the forwarding number list.</p><h4>Required
        Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating user extension info
        (includes extension name, number, email and phone number, assigned phone numbers,
        devices and other extension settings)</td></tr></tbody></table><h4>Usage Plan
        Group</h4><p>Medium</p>
      operationId: updateExtensionForwardingNumber
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: forwardingNumberId
        in: path
        description: Internal identifier of a forwarding number; returned in response
          in the id field
        required: true
        type: string
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/UpdateForwardingNumberRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ForwardingNumberInfo'
      x-api-group: extension/forwarding-number
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserForwardingFlipNumbers
      x-access-level: Basic
    delete:
      tags:
      - Call Handling Settings
      summary: Delete Forwarding Number
      description: <p style='font-style:italic;'>Since 1.0.24 (Release 8.0)</p><p>Deletes
        a forwarding number from the forwarding number list by its ID.</p><h4>Required
        Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating user extension info
        (includes extension name, number, email and phone number, assigned phone numbers,
        devices and other extension settings)</td></tr></tbody></table><h4>Usage Plan
        Group</h4><p>Medium</p>
      operationId: deleteExtensionForwardingNumber
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: forwardingNumberId
        in: path
        description: Internal identifier of a forwarding number
        required: true
        type: string
      responses:
        200:
          description: OK
      x-api-group: extension/forwarding-number
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserForwardingFlipNumbers
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/answering-rule:
    get:
      tags:
      - Call Handling Settings
      summary: Get Call Handling Rules
      description: <p style='font-style:italic;'>Since 1.0.15 (Release 7.0)</p><p>Returns
        the extension answering rules.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: loadAnsweringRulesList
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: page
        in: query
        required: false
        type: string
        default: "1"
      - name: perPage
        in: query
        required: false
        type: string
        default: "100"
      responses:
        200:
          description: OK
      x-api-group: extension/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserAnsweringRules
      x-access-level: Basic
    post:
      tags:
      - Call Handling Settings
      summary: Create Custom Call Handling Rules
      description: <p style='font-style:italic;'>Since 1.0.24 (Release 8.0)</p><p>Creates
        a custom answering rule for a particular caller ID.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating my extension info
        (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: createAnsweringRuleInfo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateAnsweringRuleRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnsweringRuleInfo'
      x-api-group: extension/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/answering-rule/{ruleId}:
    get:
      tags:
      - Call Handling Settings
      summary: Get Call Handling Rule
      description: <p style='font-style:italic;'>Since 1.0.15 (Release 7.0)</p><p>Returns
        an answering rule by ID.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>
      operationId: loadAnsweringRuleInfo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ruleId
        in: path
        description: Internal identifier of an answering rule. The value can be standard
          digital ID or specific ID - either business-hours-rule or after-hours-rule
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnsweringRuleInfo'
      x-api-group: extension/answering-rule
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserAnsweringRules
      x-access-level: Basic
    put:
      tags:
      - Call Handling Settings
      summary: Update Custom Call Handling Rule
      description: <p style='font-style:italic;'>Since 1.0.24 (Release 8.0)</p><p>Updates
        a custom answering rule for a particular caller ID.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditExtensions</td><td>Viewing and updating my extension info
        (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: updateAnsweringRuleInfo
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ruleId
        in: path
        description: Internal identifier of an answering rule
        required: true
        type: string
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/UpdateAnsweringRuleRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnsweringRuleInfo'
      x-api-group: extension/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
      x-access-level: Basic
    delete:
      tags:
      - Call Handling Settings
      summary: Delete Call Handling Rule
      operationId: deleteAnsweringRule
      description: Deletes a custom answering rule by a particular ID.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ruleId
        in: path
        description: Internal identifier of an answering rule
        required: true
        type: string
      responses:
        204:
          description: No Content
      x-api-group: extension/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/answering-rule:
    post:
      tags:
      - Call Handling Settings
      summary: Create Company Call Handling Rule
      operationId: createCompanyAnsweringRuleInfo
      description: <p style='font-style:italic;'>Since 1.0.31 (Release 9.2)</p><p>Creates
        a company answering rule for a particular caller ID.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr><tr><td class='code'>EditExtensions</td><td>Viewing
        and updating user extension info (includes extension name, number, email and
        phone number, assigned phone numbers, devices and other extension settings)</td></tr><tr><td
        class='code'>EditAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Medium</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        type: string
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        default: "~"
      - name: body
        in: body
        description: JSON body
        schema:
          $ref: '#/definitions/CompanyAnsweringRuleRequest'
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyAnsweringRuleInfo'
      x-api-group: account/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyAnsweringRules
      x-access-level: Basic
    get:
      tags:
      - Call Handling Settings
      summary: Get Company Call Handling Rules
      operationId: listCompanyAnsweringRule
      description: <p style='font-style:italic;'>Since 1.0.31 (Release 9.2)</p><p>Returns
        a list of company answering rules.</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Medium</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        type: string
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        default: "~"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyAnsweringRuleList'
      x-api-group: account/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyAnsweringRules
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/answering-rule/{ruleId}:
    get:
      tags:
      - Call Handling Settings
      summary: Get Company Call Handling Rule
      operationId: loadCompanyAnsweringRuleInfo
      description: <p style='font-style:italic;'>Since 1.0.31 (Release 9.2)</p><p>Returns
        a company answering rule by ID.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Light</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        type: string
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        default: "~"
      - name: ruleId
        type: string
        in: path
        description: Internal identifier of an answering rule. The value can be standard
          digital ID or specific ID - either business-hours-rule or after-hours-rule
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyAnsweringRuleInfo'
      x-api-group: account/answering-rule
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyAnsweringRules
      x-access-level: Basic
    put:
      tags:
      - Call Handling Settings
      summary: Update Company Call Handling Rule
      operationId: updateCompanyAnsweringRuleInfo
      description: <p style='font-style:italic;'>Since 1.0.31 (Release 9.2)</p><p>Updates
        a company answering rule.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Medium</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        type: string
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        default: "~"
      - name: ruleId
        type: string
        in: path
        description: Internal identifier of an answering rule. The value can be standard
          digital ID or specific ID - either business-hours-rule or after-hours-rule
        required: true
      - name: body
        in: body
        description: JSON body
        schema:
          $ref: '#/definitions/CompanyAnsweringRuleUpdate'
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyAnsweringRuleInfo'
      x-api-group: account/answering-rule
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyAnsweringRules
      x-access-level: Basic
  /restapi/v1.0/dictionary/greeting:
    get:
      tags:
      - Call Handling Settings
      summary: Get Standard Greetings
      description: '<p style=''font-style:italic;''>Since 8.2 (Release 1.0.26)</p><p>Returns
        a list of predefined standard greetings. Please note: Custom greetings recorded
        by user are not returned in response to this request. See Get Extension Custom
        Greetings.</p><h4>Required Permissions</h4><table class=''fullwidth''><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class=''code''>ReadAccounts</td><td>View Greetings</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Light</p>'
      operationId: getGreetings
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed. Default value is '1'
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items). If not specified,
          the value is '100' by default
        required: false
        type: integer
      - name: type
        in: query
        description: Type of a greeting, specifying the case when the greeting is
          played
        required: false
        type: string
        enum:
        - Introductory
        - Announcement
        - ConnectingMessage
        - ConnectingAudio
        - Voicemail
        - Unavailable
        - HoldMusic
        - Company
      - name: usageType
        in: query
        type: string
        description: Usage type of a greeting, specifying if the greeting is applied
          for user extension or department extension
        enum:
        - UserExtensionAnsweringRule
        - ExtensionAnsweringRule
        - DepartmentExtensionAnsweringRule
        - CompanyAnsweringRule
        - CompanyAfterHoursAnsweringRule
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DictionaryGreetingList'
      x-api-group: dictionary/greeting
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-access-level: Basic
  /restapi/v1.0/dictionary/greeting/{greetingId}:
    get:
      tags:
      - Call Handling Settings
      summary: Get Greeting Info
      description: <p style='font-style:italic;'>Since 8.2 (Release 1.0.26)</p><p>Returns
        a standard greeting by ID</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>View Greetings</td></tr></tbody></table><h4>Usage
        Plan Group</h4><p>Medium</p>
      operationId: getGreeting
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: greetingId
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DictionaryGreetingInfo'
      x-api-group: dictionary/greeting
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/greeting:
    post:
      tags:
      - Call Handling Settings
      summary: Create Custom Company Greeting
      operationId: getCompanyGreeting
      description: Creates a custom company greeting.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CustomCompanyGreetingRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CustomCompanyGreetingInfo'
      x-api-group: extension/greeting
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditAccounts
      x-user-permission: ReadUserInfo
      x-access-level: Basic
  
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/greeting:
    post:
      tags:
      - Call Handling Settings
      summary: Create User Custom Greeting
      operationId: createGreeting
      description: Creates custom greeting for an extension user.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CustomGreetingRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CustomCompanyGreetingInfo'
      x-api-group: extension/greeting
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/greeting/{greetingId}:
    get:
      tags:
      - Call Handling Settings
      summary: Get Custom Greeting Info
      operationId: getGreetingByID
      description: Returns a custom user greeting by ID.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: greetingId
        in: path
        description: ""
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CustomCompanyGreetingInfo'
      x-api-group: extension/greeting
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserInfo
      x-access-level: Basic
  
  /restapi/v1.0/account/{accountId}/ivr-prompts:
    
    get:
      tags:
      - Call Handling Settings
      summary: Get IVR Prompts
      description: <p style='font-style:italic;'>Since 1.0.32 (Release 9.3)</p><p>Returns
        a list of IVR prompts.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Medium</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IVRPrompts'
      x-api-group: account/ivr-prompts
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyGreetings
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/ivr-prompts/{promptId}:
    get:
      tags:
      - Call Handling Settings
      summary: Get IVR Prompt
      description: <p style='font-style:italic;'>Since 1.0.32 (Release 9.3)</p><p>Returns
        an IVR prompt by ID</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Medium</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
      - name: promptId
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PromptInfo'
      x-api-group: account/ivr-prompts
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyGreetings
      x-access-level: Basic
    delete:
      tags:
      - Call Handling Settings
      summary: Delete IVR Prompt
      description: <p style='font-style:italic;'>Since 1.0.32 (Release 9.3)</p><p>Deletes
        an IVR prompt by ID</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>EditAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Heavy</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
      - name: promptId
        in: path
        required: true
        type: string
      responses:
        204:
          description: No Content
      x-api-group: account/ivr-prompts
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyGreetings
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/ivr-prompts/{promptId}/content:
    get:
      tags:
      - Call Handling Settings
      summary: Get IVR Prompt Content
      description: <p style='font-style:italic;'>Since 1.0.32 (Release 9.3)</p><p>Returns
        media content of an IVR prompt by its ID</p><h4>Required Permissions</h4><table
        class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td
        class='code'>ReadAccounts</td><td>Viewing user account info (including name,
        business name, address and phone number/account number)</td></tr></tbody></table><h4>API
        Group</h4><p>Medium</p>
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
      - name: promptId
        in: path
        required: true
        type: string
[...]
